#root {
	position: fixed;
	inset: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-family: 'Nexon Lv2 Gothic', sans-serif;
	overflow: hidden;
}

:root {
	--header: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
	--glass: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8));
	--glass2: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.7));
	--shadow: 0 0 4px rgba(0, 0, 0, 0.25);
	--shadowW: 0 0 4px rgba(255, 255, 255, 1);
	--shadow2: 0 0 4px rgba(0, 0, 0, 0.8);
	--shadowB: 0 2px 4px rgba(0, 0, 0, 0.25);
	--shadowY: 2px 2px 4px #be9c68;
	--shadowP: 2px 2px 4px var(--pink);
	--gold: #efb70030;
	--silver: #66666630;
	--bronze: #8c663a30;
	--c: #776644; /* choco */
	--c2: #a0937d;
	--p: #8bb363; /* point */
	--y: #efb700;
	--pink: #db9495;
	--f: Pretendard;
}
