@import 'tailwindcss';

:root {
	line-height: 1.5;
	font-weight: 400;
	
	color-scheme: light dark;
	color: #827157;
	background: url(./assets/img/bg_pattern.jpg) 0 0 / 1280px;
	
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;
	height: 100%;
}

button {
	cursor: pointer;
}