@import 'tailwindcss';

:root {
	line-height: 1.5;
	font-weight: 400;

	/* color-scheme: light dark; */
	color: var(--c);
	background-color: var(--c);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	justify-content: center;
	min-width: 320px;
	min-height: 100vh;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
}

button {
	cursor: pointer;
}
